[Unit]
Description=Dashy dashboard
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/lissy93/dashy:latest
ContainerName=dashy
PublishPort=80:8080
Volume=/var/lib/homelab/dashy/conf.yml:/app/user-data/conf.yml:Z
AddHost=home.local:host-gateway
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
