[Unit]
Description=Glances host monitor
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/nicolargo/glances:latest-full
ContainerName=glances
Network=host
PidsLimit=-1
PodmanArgs=--pid=host
Volume=/etc/os-release:/etc/os-release:ro
Environment=GLANCES_OPT=-w
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
