[Unit]
Description=PairDrop
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/schlagmichdoch/pairdrop:latest
ContainerName=pairdrop
PublishPort=8127:3000
Environment=WS_FALLBACK=true
Environment=RATE_LIMIT=true
AddHost=home.local:host-gateway
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
